
body {
    background-image: url('fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
}

div#nube{
    background: url(/nube.png);
    width: 400px;
    height: 410px;
    position: absolute;
    animation-name: animation-nube;
    animation-duration: 20s;
    animation-iteration-count: 1;
    opacity: 0;
}

div#lluvia{
    background: url(/lluvia.gif);
    width: 360px;
    height: 700px;
    position: absolute;
    animation-name: animation-lluvia;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    top: 190px;
    left:20px;
    opacity: 0;
}

div#flor{
    background: url(rosa.png);
    width: 150px;
    height: 256px;
    position: absolute;
    animation-name: animation-flor;
    animation-duration: 20s;
    animation-iteration-count: 1;
    top: 73%; 
    left: 35%; 
}

div#sol{
    background: url(sol.png);
    width: 800px;
    height: 900px;
    position: absolute;
    animation-name: animation-sol;
    animation-duration: 20s;
    animation-iteration-count: 1;
    left: -10%;
    bottom: 30%; 
}

div#casa{
    background: url(casa.png);
    width: 920px;
    height: 800px;
    position: absolute;
    top: 10%;
    left: 50%;

}

#mensajes::before {
    content: "QUE HERMOSO Y CALUROSO DÍA";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255); 
    position: absolute; 
    top: 70%; 
    left: 40%; 
    transform: translate(-50%, -80%); 
    animation-name: animation-mensaje;
    animation-duration: 23s;
    animation-iteration-count: 1;
}

@keyframes animation-nube {
    0% {
      right: -10vw;
      opacity: 1;
    }
    10% {
      right: 50vw;
      opacity: 1;
    }
    50% {
      right: 50vw;
      opacity: 1;
    }
    60% {
      right: 100vw;
      opacity: 1;
    }
    100% {
      right: 100%;
      opacity: 1;
    }
}

@keyframes animation-lluvia {
    0%{
        opacity: 0;
    }
   
    50%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
    }
}
@keyframes animation-sol{
    0%{
        opacity: 0
        ;
    }

    60%{
        opacity: 0;
    }

    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animation-flor {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    77% {
      opacity: 0;
    }
    80% {
      transform: translateY(100%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes animation-mensaje{
    0%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}